.navbar {
  height: 5rem;
  background: #ffffff;
  display: flex;
  /* display: inline; */
  /* align-items: center; */
  /* justify-content: space-between; */
  /* padding: 0 20px; */
  /* box-shadow: 0 2px 10px rgba(0,0,0,0.1); */
  /* position: relative;     */
}
.nav-logo{
    height: 10rem;
    display: flex;
}
 /* .logo { */ */
  /* font-size: 2rem; */
  /* font-weight: bold; */
  /* display: flex; */
/* }  */

/* Hamburger icon */
.hamburger {
  /* width: 25px; */
  height: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* cursor: pointer; */
}

.hamburger span {
  height: 3px;
  background: #000;
  border-radius: 2px;
}

/* Menu */
.menu {
  list-style: none;
  position: absolute;
  top: 60px;
  right: 0;
  background: white;
  width: 200px;
  padding: 10px 0;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  display: none;
}

.menu li {
  padding: 12px 20px;
  cursor: pointer;
}

.menu li:hover {
  background: #f2f2f2;
}

/* Show menu */
.menu.open {
  display: block;
}
